- @comment_floor = comment_counter + 1 #use to store in model notice
%tr
  %td
    = comment.content.html_safe
  %td.blog-comment-slash
    .blog-comment-floor-wapper
      .blog-comment-user
        %i.icon-user
        %a{:name => "#{comment_counter}"}= comment.nick_name
      .blog-comment-floor
        %b= "F" + (comment_counter+1).to_s
  - if can? :manage, :all
    %td= link_to "Delete", blog_comment_path(@blog, comment),
      :method => :delete,:confirm => "Delete?"

