%table
  %tr
    %th Recent posts
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= link_to blog.title, blog_url(blog)
      - if can? :manage, :all
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, :method => :delete

%br

- if can? :manage, :all
  = link_to 'New Blog', new_blog_path
