- if can? :manage, Micropost
  - content_for :micropost do
    = render "microposts/form"
.blog-recentpost-head
  %span.recent-post-tag Recent Posts
= render "share/blog_table", :blog_table => @blogs
