.home-about
  %h3
    A
  %h3
    (∩∩)
  %h3 site by 7LI
  -#%h3
    -#Twitter:
    -#%a{:href => "https://twitter.com/77svli"} @77svli
  %h3
    Weibo:
    %a{:href => "http://weibo.com/225251314", :target => "_brank"}@77svli
  %h3
    Mail:
    %a{:href => "mailto:77svli@gmail.com", :target =>"_brank"}77svli#gmail.com
  %br

  %h3
    Created on ubuntu 12.04
  %h3
    Online since July 27th, 2012
  =link_to "Back Home", blogs_url, :class => "btn btn-large btn-primary"

