.micropost
  %span.micropost-serial-number
    \#
    = micropost_counter + 1
  = micropost.content
  %hr.micropost-hr
  = micropost.created_at
  - if can? :manage, Micropost
    = link_to "Delete", micropost,
      :method => :delete, :confirm => "Delete this minipost?"
