// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-content{
  padding:20px;
  background-color:#FFF;
  margin-top: 12px;
}

.recent-post-tag{
  font-size:18px;
}

.tag-wapper{
  margin-bottom: 12px;
}
