// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_title{
    a:visited{
    color:#786272
  }
}

.blog-content{
  padding:20px;
  background-color:#FFF;
  margin-top: 12px;
  margin-bottom: 12px;
}

.recent-post-tag{
  font-size:18px;
}

.tag-wapper{
  margin-bottom: 12px;
}

.new-comment{
  width:70%;
}

.new-comment-content{
  width:99%;
  height:60px;
}

.new-comment-nickname{
  margin-top:6px;
}

.new-comment-nickname-form{
  width:160px;
}

.comments{
  width:70%;
}

.comment-user{
  a{
    color:white;
  }

  a:hover{
    color:white;
    text-decoration:none;
  }
}
