// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome{
  background-color: #eeeeee;
}

#logo{
  width: 600px;
  height: 300px;
  font-size: 330px;
  margin: 200px auto 0 auto;
}

#logo a{
  color: #3e3d39;
  text-decoration: none;
}

#logo a:hover{
  background-color: #eeeeee;
}
