// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.micropost-content{
  width:400px;
  height:40px;
}

.micropost{
  padding:15px;
  margin:2px;
  float:left;
  border: 1px solid #ddd;
  text-align:left;
}

.micropost-hr{
  margin:5px 0 5px 0;
}

.micropost-serial-number{
  margin: 8px 5px 1px 0;
  padding: 3px;
  border-right:1px solid #ddd;
}
