= stylesheet_link_tag "/top_jquery_plugin/css/manhuatoTop.1.0"
= javascript_include_tag "/top_jquery_plugin/js/manhuatoTop.1.0"
:javascript
  $(function (){
  $(window).manhuatoTop({
  showHeight : 100,//设置滚动高度时显示
  speed : 370 //返回顶部的速度以毫秒为单位
  });
  });
